*.iml
.gradle/
.kotlin/
.git/
.git
.idea/
/.idea/
local.properties
/local.properties
.DS_Store
build/
**/build/
app/build/
.build-outputs/
/.build-outputs/
/build
/captures
.externalNativeBuild
.cxx/
*.apk
*.aar
*.aab
*.dex
*.class
.env
.env.*
!.env.example
debug.keystore
debug.keystore.base64
*.keystore
*.jks

